<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Resume</title>
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:700|Montserrat:400,700" rel="stylesheet">
        <link href="/tailwind-computed.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    </head>
    <body>
        <!-- HEADER -->
        <div class="flex mb-2 py-2 justify-between items-end">
            <div class="flex-grow">
                <div class="text-5xl font-bold">
                    {{ basics.name }}
                </div>
                <div class="text-sm">{{ basics.location.lockup }}</div>
            </div>
            <div class="flex-1">
                <div class="flex flex-col text-sm justify-between leading-normal text-right">
                    <a href="mailto:{{basics.email}}">{{ basics.email }}</a>
                    <a href="http://{{basics.github}}">{{ basics.github }}</a>
                    <p>{{ basics.phone }}</p>
                </div>
            </div>
        </div>
        {% if includeSummary %}
            <div class="pb-4 text-sm">
                {{ basics.summary }}
            </div>
        {% endif %}

        <div class="flex">
            <!-- LEFT SIDE -->
            <div class="flex content-start flex-col w-3/5">
                <div class="pretty-resume-section-header border-theme-color text-theme-color">
                    Work Experience
                </div>
                <div class="flex-shrink pr-4">
                    {% for job in work %}
                        <div class="text-center text-xl font-bold mb-2 mt-6">{{ job.company }}</div>
                        <div class="text-center serif italic mb-1">{{ job.position }}</div>
                        <div class="text-center text-smr uppercase">{{ job.location }}
                            ({{ job.startDate }}
                            -
                            {{ job.endDate }})</div>
                        <ul class="pretty-resume-bullets">
                            {% for highlight in job.highlights %}
                                <li class="my-2">{{ highlight }}</li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </div>
                <div class="flex-shrink pr-4">
                    <div class="pretty-resume-section-header border-theme-color text-theme-color mt-4">
                        Education
                    </div>
                    {% for edu in education %}
                        <div class="pt-4 pb-2">
                            <div class="text-center text-xl font-bold mb-2">{{ edu.institution }}</div>
                            <div class="text-center serif italic mb-1">{{ edu.studyTypeShort }}
                                {{ edu.area }}</div>
                            <div class="text-center text-smr">
                                MINORS:
                                {% for minor in edu.minors %}
                                    {{ minor }}
                                    {% if not loop.last %},{% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                    {% for cert in certifications %}
                        <div class="text-center">
                            <div class="pretty-resume-subsection-header mb-1">Certifications</div>
                            <div class="text-sm">{{ cert.name }}
                                ({{ cert.date }})</div>
                        </div>
                    {% endfor %}
                </div>

            </div>

            <!-- RIGHT SIDE -->
            <div class="flex content-start flex-col flex-1 border-l-2 border-theme-color">
                <div class="pretty-resume-section-header border-theme-color text-theme-color">
                    Side Projects
                </div>
                <div class="pb-4">
                    {% for project in projects %}
                        <div class="flex-shrink py-0">
                            <div class="">
                                <div class="pretty-resume-subsection-header -mb-1">
                                    <a href="{{project.link}}">{{ project.name }}
                                        <i class="fas fa-external-link-alt link-icon"></i>
                                    </a>
                                </div>
                            </div>
                            <ul class="pretty-resume-bullets">
                                {% for highlight in project.highlights %}
                                    <li class="my-2">{{ highlight }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
                <div class="pretty-resume-section-header border-theme-color text-theme-color">
                    Skills
                </div>
                <!-- the large bottom padding here is to extend this side of the resume down -->
                <div class="flex-1">
                    <div class="px-4 pt-2 pb-6 flex flex-col justify-start">
                        {% for section, entries in skills %}
                            <div class="flex-shrink py-0">
                                <div class="pretty-resume-subsection-header mb-1">{{ section }}</div>
                                <p class="text-smr text-center">
                                    {% for skill in entries %}
                                        <span class="whitespace-no-wrap">
                                            {% if loop.last %}{{ skill }}
                                            {% else %}{{ skill }},
                                            {% endif %}
                                        </span>
                                    {% endfor %}
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </body>
    <style>

        /* prevents pdf from color changing */
        html {
            -webkit-print-color-adjust: exact;
        }

        body {
            margin: 5% 8%;
            /* font-family: 'Roboto Slab', serif; */
            font-family: 'Montserrat', sans-serif;
            color: #22292f;
        }

        .serif {
            font-family: 'Josefin Slab', serif;
        }

        .border-theme-color {
            border-color: {{themeColor}};
        }

        .text-theme-color {
            color: {{themeColor}};
        }

        a {
            text-decoration: none;
            color: #22292f;
            /* color: {{ themeColor }}; */
        }

        .link-icon {
            color: {{themeColor}};
            padding-left: 3px;
        }
    </style>
</html>